
  .baseList{
    position: absolute;
    top: 120px;
    margin-left: 30px;
    max-width: fit-content;
  }
  .list-group-item{
    display: flex;
    justify-content: space-between;
  }
  .liItem{
    padding: 0 20px 0 20px;
  }
  .btn-danger{
    width: 40px;
  }
  .btn-success{
    width: 40px;
  }
  .tittleItem{
    margin-left: 40px;
  }
  .anotherParametrs{
    position: absolute;
    top: 120px;
    right: 30px;
    max-width: fit-content;
  }
  .param{
    padding: 3px 7px 3px 7px;
    text-align: center;
    width: 160px;
  }
  .level{
    color: black;
    text-align: center;
    border: none;
    background-color: rgb(103, 144, 255);
    border-radius: 5px;
  }
  .all{
    background-color: aquamarine;
  }
  .tittleParam{
    margin-left: 90px;
  }
  
.hit{
  position: absolute;
  left: 60%;
  top: 47%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgb(43, 200, 54);
  font-size: large;
  font-weight: 500;
}
.hit:hover{
  background-color: rgb(34, 151, 42);
}
.hit:disabled{
  background-color: rgba(43, 200, 53, 0.903);
}